
.container {
    display: flex;
    gap: 50px;
  }
.containerfull {
    display: flex;
    gap: 50px;
    padding-bottom: 50px;
    
  }
  
  .claims {
    flex: 1;
    max-width: 70%;
  }
  .claimsfull{
    max-width: 100%;
  }
  .claimsform {
    flex: 1;
    max-width:30%;
    background-color: white;
  }
  .claimsformeditor{
    max-width: 0;
  }
  
  .claim {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
  }
  
  .imgContainer {
    width: 200px;
    height: 100px;
    position: Ū;
  }
  
  .img {
    object-fit: cover;
  }
  
  .delete {
    cursor: pointer;
    color: red;
  }
  
  .new {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
  }
  
  .input,
  .textArea {
    padding: 7px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 3px;
    color: black;
    font-size: 15px;
  }
  
  .inputdisabled{
    padding: 7px;
    background-color: rgba(177, 177, 188, 0.482);
    border: 2px solid #bbb;
    border-radius: 3px;
    color: black;
    font-size: 15px;
  }

  .button {
    margin-top: 20px;
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
  }

  .helpertext{
    color: red;
    padding: 5px 5px 5px 5px;
    background-color: transparent;
    font-size: 12px;
  }

  .label{
    padding: 0px 5px 5px 5px;
    margin-top: 20px;
    background-color: transparent;
    color: black;
    font-size: 16px;
  }



  
  .tablefixed {
    width: 100%;
    table-layout: fixed;
    /* border: 1px solid black;
    padding: 10px; */
    text-align: center;
  }
  
  .tablefixed td,
  .tablefixed th {
    padding: 5px;
    white-space: normal;
    word-wrap: break-word;
    border: 1px Solid black;
    border-radius: 5px;
    align-self: center;
    align-items: center;
  }
  

  .tooltip {
    position: relative;
    display: inline-block;
    padding: 2px;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 98%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltipdelete {
    position: relative;
    display: inline-block;
    padding: 2px;
  }
  
  .tooltipdelete .tooltiptextdelete {
    visibility: hidden;
    width: 120px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 98%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltipdelete:hover .tooltiptextdelete {
    visibility: visible;
  }

  .dot_spinner {
    --uib-size: 2.8rem;
    --uib-speed: .9s;
    --uib-color: #183153;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
  }
  
  .dot_spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  
  .dot_spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
  }
  
  .dot_spinner__dot:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .dot_spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
  }
  
  .dot_spinner__dot:nth-child(3) {
    transform: rotate(90deg);
  }
  
  .dot_spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
  }
  
  .dot_spinner__dot:nth-child(4) {
    transform: rotate(135deg);
  }
  
  .dot_spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
  }
  
  .dot_spinner__dot:nth-child(5) {
    transform: rotate(180deg);
  }
  
  .dot_spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
  }
  
  .dot_spinner__dot:nth-child(6) {
    transform: rotate(225deg);
  }
  
  .dot_spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
  }
  
  .dot_spinner__dot:nth-child(7) {
    transform: rotate(270deg);
  }
  
  .dot_spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
  }
  
  .dot_spinner__dot:nth-child(8) {
    transform: rotate(315deg);
  }
  
  .dot_spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
  }
  
  @keyframes pulse0112 {
    0%,
    100% {
      transform: scale(0);
      opacity: 0.5;
    }
  
    50% {
      transform: scale(1);
      opacity: 1;
    }
  }
  